@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #f2f2f2;
}

.page__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/*PAGE MAIN HEADER */

.page__header {
  padding: 0 70px;
  display: flex;
  outline: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.logo__link {
  display: block;
  margin-right: 30px;
  width: 140px;
  height: 62px;
}

.city__logo {
  position: absolute;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
}

.navigation__list,
.navigation__user__list {
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 20px 15px;
  color: inherit;
  text-decoration: none;
}

.navigation__link__active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  left: 16px;
  right: 16px;
  background-color: #756257;
  z-index: 1;
}

.navigation__search {
  background-image: url("../images/icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__heart {
  position: relative;
  background-image: url("../images/icons/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__likes {
  position: absolute;
  top: 0;
  left: 20px;
  width: 19px;
  height: 19px;
  padding-top: 5px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #fff;
  background-color: #7db54f;
  border-radius: 50%;
}

.navigation__user__list li {
  min-width: 44px;
}

.navigation__item .navigation__button {
  display: block;
  margin-left: 20px;
  padding: 8px 35px;
}

/* ------------------------------BANNER----------------------*/

.banner {
  text-align: center;
}

.banner__image {
  padding: 50px 70px 80px;
  position: relative;
  background-image: url(../images/backgrounds/index_background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-color: #01ffff;
  color: #fff;
}

.banner__image::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 57px;
  background-image: url(../images/backgrounds/index_bacgkround_mask.svg);
  background-repeat: no-repeat;
}

.banner__image img {
  margin: 0 auto;
}

.banner__title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
}

.banner__text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.main__banner__container {
  padding: 70px;
  margin-bottom: 21px;
}

.advantages__banner {
  padding: 62px 70px;
}

.is__interested__banner {
  padding: 93px 69px;
}

.newsletter {
  padding: 96px 70px 104px;
  color: #fff;
  background-color: #82b3d3;
  background-image: url(../images/backgrounds/subscribe_background.jpg);
  background-size: cover;
}

.newsletter .banner__title {
  color: #fff;
}

.newsletter .banner__text,
.is__interested__banner .banner__text {
  margin-bottom: 53px;
}

.newsletter__no__image {
  color: inherit;
  background-image: none;
  background-color: inherit;
}

.newsletter__no__image .banner__title {
  color: #000;
}

.newsletter__banner__container {
  display: flex;
  justify-content: center;
  gap: 0;
}

/* ------------------------------INPUTS--------------------- */

.button {
  padding: 8px 50px;
  font-family: inherit;
  font-weight: 700;
  background-color: #756157;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.button__newsletter {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button__search {
  font-size: 20px;
  line-height: 36px;
  min-height: 52px;
}

.button__apply {
  background-color: #82b3d3;
}

.button__reset {
  background: transparent;
}

.button__primary:not(.button__is__disabled):focus {
  outline: none;
  background-color: #615048;
}

.button__primary:not(.button__is__disabled):hover {
  background-color: #615048;
}

.button__primary:not(.button__is__disabled):active {
  color: rgba(255, 255, 255, 0.302);
}

.button__second:not(.button__is__disabled):focus,
.button__second:not(.button__is__disabled):focus-visible {
  outline: none;
  background-color: #68a2ca;
}

.button__second:not(.button__is__disabled):hover {
  background-color: #68a2ca;
}

.button__second:not(.button__is__disabled):active {
  color: rgba(255, 255, 255, 0.302);
}

.button__third:not(.button__is__disabled):focus,
.button__third:not(.button__is__disabled):focus-visible {
  outline: none;
  background-color: #6c9e42;
}

.button__third:not(.button__is__disabled):hover {
  background-color: #6c9e42;
}

.button__third:not(.button__is__disabled):active {
  color: rgba(255, 255, 255, 0.302);
}

.button__forth:not(.button__is__disabled):focus,
.button__forth:not(.button__is__disabled):focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.button__forth:not(.button__is__disabled):hover {
  color: rgba(255, 255, 255, 0.6);
}

.button__forth:not(.button__is__disabled):active {
  color: rgba(255, 255, 255, 0.302);
}

.button__is__disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.button__is__disabled:focus,
.button__is__disabled:focus-visible {
  outline: none;
}

.button__is__disabled.button__forth {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

.field__newsletter {
  min-width: 452px;
  height: 52px;
  padding: 14px 20px 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.field__newsletter::placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.6);
}

/* ------------------------------FILTER BANNER------------------------------*/

.filter__banner {
  padding: 35px 70px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  background-color: #82b3d3;
  background-image: url("../images/backgrounds/catalog_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 411px;
}

.filter__banner h1 {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs__list {
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs__item {
  min-width: 13px;
  margin-right: 10px;
  position: relative;
}

.breadcrumbs__item:not(:first-child) {
  padding-left: 18px;
  background-image: url("../images/icons/breadcrumbs_arrow_rigth.svg");
  background-repeat: no-repeat;
  background-position: left 50%;
}

.breadcrumbs__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(255, 255, 255, 0.302);
}

breadcrumbs__link:focus,
breadcrumbs__link:focus-visible {
  outline: none;
}

.main__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.link__current {
  pointer-events: none;
}
/* ------------------------------FILTER FORM ------------------------------*/

.filter__form {
  display: flex;
  flex-wrap: wrap;
}

.infrastructure,
.accommodation__type,
.price__range__fieldset {
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.filter__title {
  padding: 0;
  margin: 0 0 32px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.infrastructure__list,
.accommodation__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.infrastructure__item:not(:last-child),
.accommodation__item:not(:last-child) {
  margin-bottom: 16px;
}

.price__range__fieldset {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  max-width: 290px;
}

.price__container {
  position: relative;
  display: flex;
  gap: 2px;
  max-width: 288px;
  margin-bottom: 33px;
  align-items: center;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price__input {
  flex: 1 1 0;
  min-width: 0;
  padding: 12px 0 12px 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.price__label {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.price__label__till {
  right: 20px;
}

.price__label__from {
  left: 106px;
}

.filter__buttons__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.filter__buttons__container button:first-child {
  margin-bottom: 32px;
}

/* ------------------------------CATALOG ------------------------------ */
.main__catalog {
  padding: 48px 70px 60px;
}

.catalog__header {
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  gap: 70px;
}

.catalog__header .banner__title {
  margin: 0;
}

.select__control {
  margin: 0;
  margin-left: auto;
  padding: 14px 131px 14px 20px;
  min-width: 200px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  max-width: 292px;

}

.view__control__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  list-style: none;
}

.view__control__item  {
  margin-right: 8px;
}

.view__control__input {
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.view__control__input__active {
  border: 2px solid #000;
}

.view__control__input {
  display: block;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.view__control__input:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.view__control__input:hover {
  border: 2px solid #000;
}

.view__control__input:active {
  border: 2px solid #000;
}

.view__control__input__table {
  background-image: url(../images/icons/view_table.svg);
}

.view__control__input__slideshow {
  background-image: url(../images/icons/view_slideshow.svg);
}

.view__control__input__list {
  background-image: url(../images/icons/view_list.svg);
}

.view__control__list li:last-child {
  margin-right: 0;
}

.hotels__list {
  position: relative;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.hotels__list:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -40px;
  height: 1px;
  background-color: #e5e5e5;
}

/* ------------------------------CATALOG CARD------------------------------ */

.hotel__card {
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 16px;
  column-gap: 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.card__picture,
.card__hotel__name {
  grid-column: 1/ -1;
}

.card__picture img {
  width: 100%;
}

.hotel__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.hotel__card a {
  display: block;
  text-decoration: none;
}

.hotel__card p {
  margin: 0;
}

.card__hotel__price {
  justify-self: end;
}

.price {
  font-weight: 400;
}

.button__like,
.button__rating,
.button__more-info {
  margin: 0;
  padding: 8px 18px;
  min-width: 140px;
  font-size: 16px;
  text-align: center;
}

.button__like {
  background-color: #82b3d3;
}

.button__rating {
  font-weight: 400;
  color: #333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.button__liked {
  background-color: #7db54f;
}

.hotel__stars {
  display: flex;
  align-items: center;
}

/* ------------------------------PAGINATION------------------------------ */

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  margin-right: 8px;
  padding: 12px 0;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: white;
  background-color: #82b3d3;
  transition:
    background-color 100ms ease-in-out,
    color 100ms ease-in-out;
}

.pagination__link:not(.pagination__active):focus {
  outline: none;
  background-color: #68a2ca;
}

.pagination__link:hover {
  background-color: #68a2ca;
}

.pagination__link:active {
  color: rgba(255, 255, 255, 0.302);
}

.pagination__active {
  color: #000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.pagination__active:focus {
  outline: none;
}

.pagination__disabled {
  color: #000;
  background-color: #fff;
  pointer-events: none;
}

.pagination__disabled:focus {
  outline: none;
}

/* ------------------------------LIST MAIN PAGE ------------------------------*/

.about__sedona__list,
.advantages__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
}

.item__light {
  background-color: rgba(131, 179, 211, 0.122);
}

.item__dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.item__container {
  position: relative;
  padding: 102px 85px 102px;
}

.advantages__item,
.about__sedona__item {
  flex-grow: 1;
  flex-basis: 400px;
  min-height: 385px;
  position: relative;
}

.about__sedona__item {
  padding: 112px 85px;
}

.advantages__item {
  padding: 80px 85px;
}

.about__sedona__item__image {
  display: flex;
  background-color: #82b3d3;
  color: #fff;
  width: 100%;

}

.about__sedona__item__image .about__item__title {
  color: #fff;
}

.about__item__title,
.advantages__title {
  position: relative;
  margin: 0 0 61px 0;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  line-height: 28px;
  text-transform: uppercase;
}

.about__item__title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: -32px;
  left: calc(50% - 30px);
  background-color: rgb(from currentColor r g b / 30%);
}

.advantages__title {
  margin-bottom: 30px;
}

.about__item__text,
.advantages__text {
  margin: 0;
  padding: 0;
}

.advantages__item img {
  margin: 0 auto 30px;
   height: 75px;
}

.about__item__image {
  height: 100%;
}

/* ------------------------------FOOTER ------------------------------*/

.page__footer {
  margin-top: auto;
  padding: 45px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__list {
  padding: 0;
  margin: 0;
  max-width: 235px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social__link,
.htmlacademy__link,
.phone {
  display: block;
  line-height: 0;
  transition: color 100ms ease-in-out;
}

.social__link {
  color: #83b3d3;
}

.social__link:hover {
  color: #68a2ca;
}

.social__link:focus {
  color: #68a2ca;
  outline: none;
}

.social__link:active {
  color: rgba(104, 162, 202, 0.302);
}

.phone {
  font-family: inherit;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
  outline: none;
}

.phone:active {
  color: rgba(117, 97, 87, 0.302);
}

.htmlacademy__link {
  color: #000000;
}

.htmlacademy__link:hover {
  color: #756157;
}

.htmlacademy__link:focus {
  color: #756157;
  outline: none;
}

.htmlacademy__link:active {
  color: rgba(117, 97, 87, 0.302);
}
