@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #f2f2f2;
}

.page__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 1200px;
  background-color: #fff;
}

.main-container {
  flex-grow: 1;
}

/*PAGE MAIN HEADER */

.page__header {
  padding: 0 70px;
  display: flex;
  outline: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.logo__link {
  display: block;
  margin-right: 30px;
  width: 140px;
  height: 62px;
}

.city__logo{
  position: absolute;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 30px;
}

.navigation__list,
.navigation__user__list {
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 20px 16px;
  color: inherit;
  text-decoration: none;
}

.navigation__link__active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  left: 16px;
  right: 16px;
  background-color: #756257;
}

.navigation__search {
  background-image: url("../images/icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__heart {
  position: relative;
  background-image: url("../images/icons/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__likes {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  padding-top: 5px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #fff;
  background-color: #7db54f;
  border-radius: 50%;

}

.navigation__user__list li {
  min-width: 44px;
}

.navigation__item .navigation__button {
  display: block;
  margin-left: 20px;
  padding: 8px 34px;
  text-decoration: none;
}

/* ------------------------------BANNER----------------------*/

.banner {
  text-align: center;
}

.banner__image {
  padding: 50px 70px 80px;
  background-image: url(../images/backgrounds/index_bacgkround_mask.svg),
    url(../images/backgrounds/index_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-color: #01ffff;
  color:#fff;
}

.banner__image img {
  margin: 0 auto;
}

.banner__title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
}

.banner__text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.main__banner__container {
  padding: 70px;
}

.advantages__banner {
  padding: 64px 70px;
}

.is__interested__banner {
  padding: 96px 70px;
}

.newsletter {
  padding: 96px 70px 104px;
  color: #fff;
  background-color: #82b3d3;
  background-image: url(../images/backgrounds/subscribe_background.jpg);
  background-size: cover;
}

.newsletter .banner__title {
  color: #fff;
}

.newsletter .banner__text,
.is__interested__banner .banner__text {
  margin-bottom: 54px;
}

.newsletter__no__image {
  color: inherit;
  background-image: none;
  background-color: inherit;
}

.newsletter__no__image .banner__title {
  color: #000;
}

.newsletter__banner__container {
  display: flex;
  justify-content: center;
  gap: 0;
}

/* ------------------------------INPUTS--------------------- */

.button {
  padding: 8px 50px;
  font-family: inherit;
  font-weight: 700;
  background-color: #756157;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button__newsletter {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button__search {
  font-size: 20px;
  line-height: 36px;
}

.button__apply {
  background-color: #82b3d3;
}

.button__reset {
  background: transparent;
}

.field__newsletter {
  min-width: 452px;
  height: 52px;
  padding: 14px 0 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.field__newsletter::placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.6);
}

/* ------------------------------FILTER BANNER------------------------------*/

.filter__banner {
  padding: 35px 70px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  background-color: #82b3d3;
  background-image: url("../images/backgrounds/catalog_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter__banner h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs__list {
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
  line-height: 21px;

}

.main__link {
  background-image: url("../images/icons/breadcrumbs_home.svg");
  background-repeat: no-repeat;

}

.breadcrumbs__link {
  display: block;
  min-height: 15px;
  min-width: 13px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs__item {
  min-width: 13px;
  margin-right: 10px;
  position: relative;
}
.breadcrumbs__item:not(:first-child) {
  padding-left: 20px;
 background-image: url("../images/icons/breadcrumbs_arrow_rigth.svg");
  background-repeat: no-repeat;


}

/* ------------------------------FILTER FORM ------------------------------*/

.filter__form {
  display: flex;
  flex-wrap: wrap;
}

.infrastructure,
.accommodation__type,
.price__range__fieldset {
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.filter__title {
  padding: 0;
  margin: 0 0 32px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.infrastructure__list,
.accommodation__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.infrastructure__item:not(:last-child),
.accommodation__item:not(:last-child) {
  margin-bottom: 16px;
}

.price__range__fieldset {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  max-width: 290px;
}

.price__container {
  display: flex;
  gap: 2px;
  max-width: 288px;
  margin-bottom: 36px;
  align-items: center;
}

.price__input {
  flex: 1 1 0;
  min-width: 0;
  padding: 12px 0 12px 20px;
  font-family: inherit;
  font-weight: 700;
}

.filter__buttons__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.filter__buttons__container button:first-child {
  margin-bottom: 32px;
}

/* ------------------------------CATALOG ------------------------------ */
.main__catalog {
  padding: 50px 70px 60px;
}

.catalog__header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 70px;
}

.catalog__header .banner__title {
  margin: 0;
}

.select__control {
  margin: 0;
  margin-left: auto;
  padding: 14px 131px 14px 20px;
  min-width: 200px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.view__control__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  list-style: none;
}

.view__control__item {
  margin-right: 8px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.view__control__item__active {
  border: 2px solid #000;
}

.view__control__input {
  display: block;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.view__control__input__table {
  background-image: url(../images/icons/view_table.svg);
}

.view__control__input__slideshow {
  background-image: url(../images/icons/view_slideshow.svg);
}

.view__control__input__list {
  background-image: url(../images/icons/view_list.svg);
}

.view__control__list li:last-child {
  margin-right: 0;
}

.hotels__list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

/* ------------------------------CATALOG CARD------------------------------ */

.hotel__card {
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr; /* что бы сработало переполнение по длинне название отеля. */
  row-gap: 16px;
  column-gap: 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.card__picture,
.card__hotel__name {
  grid-column: 1/ -1;
}

.card__picture img {
  width: 100%;
}

.hotel__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.hotel__card a {
  display: block;
  text-decoration: none;
}

.hotel__card p {
  margin: 0;
}

.card__hotel__price {
  justify-self: end;
}

.price {
  font-weight: 400;
}

.button__like,
.button__rating,
.button__more-info {
  margin: 0;
  padding: 8px 18px;
  min-width: 140px;
  font-size: 16px;
  text-align: center;
}

.button__like {
  background-color: #82b3d3;
}

.button__rating {
  font-weight: 400;
  color: #333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.button__liked {
  background-color: #7db54f;
}

.hotel__stars {
  display: flex;
  align-items: center;
}

/* ------------------------------PAGINATION------------------------------ */

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  margin-right: 8px;
  padding: 12px 0;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: white;
  background-color: #82b3d3;
}

.pagination__active {
  color: #000;
  background-color: #f2f2f2;
}

.pagination__disabled {
  color: #000;
  background-color: #fff;
}

/* ------------------------------LIST MAIN PAGE ------------------------------*/

.about__sedona__list,
.advantages__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
}

.item__light {
  background-color: rgba(131, 179, 211, 0.122);
}

.item__dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.item__container {
  position: relative;
  padding: 102px 85px 102px;
}

.advantages__item,
.about__sedona__item {
  flex-grow: 1;
  flex-basis: 400px;
  min-height: 385px;
  position: relative;
}

.about__sedona__item {
  padding: 112px 85px;
}

.advantages__item {
  padding: 81px 85px;
}

.about__sedona__item__image {
  display: flex;
  background-color: #82b3d3;
  color: #fff;
  width: 100%;
}

.about__sedona__item__image .about__item__title {
  color: #fff;
}

.about__item__title,
.advantages__title {
  position: relative;
  margin: 0 0 62px 0;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  line-height: 28px;
  text-transform: uppercase;

}

.about__item__title::before
{
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: -30px;
  left: calc(50% - 30px);
  background-color: rgb(from currentColor r g b / 30%);

}

.advantages__title {
  margin-bottom: 30px;
}

.about__item__text,
.advantages__text {
  margin: 0;
  padding: 0;
}

.advantages__item img {
  margin: 0 auto 30px;
}

/* ------------------------------FOOTER ------------------------------*/

.page__footer {
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__list {
  padding: 0;
  margin: 0;
  max-width: 235px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social__item a {
  display: block;
 /* min-height: 40px;
  min-width: 47px; */
  background-repeat: no-repeat;
}

.vk__link {
  /* background-image: url(../images/icons/social_vk.svg); */

}
.social__vk__icon {
  fill:#83B3D3;
}

.social__vk__icon:hover {
  fill:#68A2CA;
}

.telegram__link {
  background-image: url(../images/icons/social_telegram.svg);
}

.youtube__link {
  background-image: url(../images/icons/social_youtube.svg);
}

.telephone {
  font-family: inherit;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.telephone:hover {
  color:#756157;
}

.telephone:focus {
  color: #756157;
  outline: none;
}

.telephone:active {
  color: rgba(117, 97, 87, 0.302);
}

.htmlacademy__link {
  min-width: 115px;
  min-height: 33px;
  background-image: url("../images/icons/logo_htmlacademy.svg");
  background-repeat: no-repeat;
}
