@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #f2f2f2;
}

.page__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/*PAGE MAIN HEADER */

.page__header {
  padding: 0 70px;
  display: flex;
  outline: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.logo__link {
  display: block;
  margin-right: 30px;
  width: 140px;
  height: 62px;
}

.city__logo {
  position: absolute;
  z-index: 1;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}

.navigation__list,
.navigation__user__list {
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 20px 15px;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.navigation__link__active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  left: 16px;
  right: 16px;
  background-color: #756257;
  z-index: 1;
}

.navigation__link:hover,
.city__logo:hover {
  opacity: 0.7;
}

.navigation__search {
  background-image: url("../images/icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__heart {
  position: relative;
  background-image: url("../images/icons/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__likes {
  position: absolute;
  top: 10px;
  left: 21px;
  width: 20px;
  height: 20px;
  padding-top: 6px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.navigation__user__list {
  margin-left: auto;
  justify-content: flex-end;
}

.navigation__user__list li {
  min-width: 44px;
}

.navigation__user__list .navigation__item {
  height: 64px;
}

.navigation .navigation__button {
  display: block;
  margin-left: 20px;
  min-width: 160px;
  padding: 8px 14px;
  text-align: center;
}

/* ------------------------------BANNER----------------------*/

.banner {
  text-align: center;
}

.banner__image {
  padding: 50px 70px 80px;
  position: relative;
  background-image: url("../images/backgrounds/index_background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-color: #01ffff;
  color: #ffffff;
}

.banner__image::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 57px;
  background-image: url("../images/backgrounds/index_bacgkround_mask.svg");
  background-repeat: no-repeat;
}

.banner__image img {
  margin: 0 auto;
}

.banner__title {
  margin: 0 0 23px 0;
  line-height: 38px;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.banner__text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.main__banner__container {
  padding: 70px;
  margin-bottom: 21px;
}

.advantages__banner {
  padding: 62px 70px;
}

.advantages__banner .banner__title {
  margin-bottom: 18px;
}

.is__interested__banner {
  padding: 94px 69px;
}

.newsletter {
  padding: 96px 70px 104px;
  color: #ffffff;
  background-color: #3f5e72;
  background-image: url("../images/backgrounds/subscribe_background.jpg");
  background-size: cover;
}

.newsletter .banner__title {
  color: #ffffff;
}

.newsletter .banner__text,
.is__interested__banner .banner__text {
  margin-bottom: 51px;
}

.newsletter__no__image {
  color: inherit;
  background-image: none;
  background-color: inherit;
}

.newsletter__no__image .banner__title {
  color: #000000;
}

.newsletter__banner__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 0;
}

/* ------------------------------INPUTS--------------------- */

.button {
  padding: 8px 51px;
  font-family: inherit;
  font-weight: 700;
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition:
    background-color 100ms ease-in-out,
    color 100ms ease-in-out;
}

.button__newsletter {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button__search {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  min-height: 52px;
}

.button__search:not(:first-child) {
  margin-top: 8px;
}

.button__apply {
  background-color: #82b3d3;
}

.button__reset {
  background: transparent;
  line-height: 15px;
}

.button__primary:not(.button__is__disabled):focus {
  outline: none;
  background-color: #615048;
}

.button__primary:not(.button__is__disabled):hover {
  background-color: #615048;
}

.button__primary:not(.button__is__disabled):active {
  color: rgba(255, 255, 255, 0.302);
}

.button__second:not(.button__is__disabled):focus,
.button__second:not(.button__is__disabled):focus-visible {
  outline: none;
  background-color: #68a2ca;
}

.button__second:not(.button__is__disabled):hover {
  background-color: #68a2ca;
}

.button__second:not(.button__is__disabled):active {
  color: rgba(255, 255, 255, 0.302);
}

.button__third:not(.button__is__disabled):focus,
.button__third:not(.button__is__disabled):focus-visible {
  outline: none;
  background-color: #6c9e42;
}

.button__third:not(.button__is__disabled):hover {
  background-color: #6c9e42;
}

.button__third:not(.button__is__disabled):active {
  color: rgba(255, 255, 255, 0.302);
}

.button__forth:not(.button__is__disabled):focus,
.button__forth:not(.button__is__disabled):focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.button__forth:not(.button__is__disabled):hover {
  color: rgba(255, 255, 255, 0.6);
}

.button__forth:not(.button__is__disabled):active {
  color: rgba(255, 255, 255, 0.302);
}

.button__is__disabled,
.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.button__is__disabled:focus,
.button__is__disabled:focus-visible {
  outline: none;
}

.button__is__disabled.button__forth,
.button__forth.button:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

.field {
  padding: 14px 20px 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.field::placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.6);
}

.field:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.field:hover {
  background-color: #e5e5e5;
}

.field:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.field__newsletter {
  min-width: 452px;
  min-height: 52px;
}

/* ------------------------------FILTER BANNER------------------------------*/

.filter__banner {
  padding: 35px 70px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: #3f5e72;
  background-image: url("../images/backgrounds/catalog_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 412px;
}

.filter__banner h1 {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs__list {
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs__item {
  min-width: 13px;
  margin-right: 10px;
  position: relative;
}

.breadcrumbs__item:not(:first-child) {
  padding-left: 18px;
  background-image: url("../images/icons/breadcrumbs_arrow_rigth.svg");
  background-repeat: no-repeat;
  background-position: left 50%;
}

.breadcrumbs__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(255, 255, 255, 0.302);
}

breadcrumbs__link:focus,
breadcrumbs__link:focus-visible {
  outline: none;
}

.main__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.link__current {
  pointer-events: none;
}
/* ------------------------------FILTER FORM ------------------------------*/

.filter__form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.infrastructure,
.accommodation__type,
.price__range__fieldset {
  margin: 0 69px 0 0;
  padding: 0;
  border: none;
}

.accommodation__type {
  padding-left: 2px;
}

.filter__title {
  padding: 0;
  margin: 0 0 32px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.infrastructure__list,
.accommodation__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.infrastructure__item:not(:last-child),
.accommodation__item:not(:last-child) {
  margin-bottom: 16px;
}

.price__range__fieldset {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  max-width: 290px;
}
.field__right {
  border-radius: 0 4px 4px 0;
}

.price__container {
  display: flex;
  gap: 2px;
  max-width: 288px;
  margin-bottom: 44px;
}

.input__price__container {
  position: relative;
}

.number__input::-webkit-inner-spin-button,
.number__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number__input {
  width: 100%;
  padding: 12px 42px 12px 21px;
  font-weight: 700;
  -moz-appearance: textfield;
}

.price__label {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1;
}

.range__scale {
  position: relative;
  height: 4px;
  left: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range__button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.range__button:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.251);
}

.range__button:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.251);
}

.range__button:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.range__button__min {
  top: -8px;
  left: 0;
}

.range__button__max {
  top: -8px;
  right: -10px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control:focus {
  outline: none;
}

.control__input:focus + .control__mark {
  outline: 3px solid #83b3d3;
}

.control:hover {
  opacity: 0.7;
}

.control:active {
  opacity: 0.3;
}

.control__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control__input:disabled + .control__mark,
.control__input:disabled ~ .control__label {
  opacity: 0.1;
  pointer-events: none;
}

.control:has(.control__input:disabled) {
  pointer-events: none;
}

/*checkbox*/
.control__input:checked[type="checkbox"] + .control__mark::before,
.control__input:checked[type="checkbox"] + .control__mark::after {
  position: absolute;

  height: 2px;
  background-color: #3f5e72;
  content: "";
}

.control__input:checked + .control__mark::before {
  width: 7px;
  top: 11px;
  left: 4px;
  transform: rotate(45deg);
}

.control__input:checked + .control__mark::after {
  width: 11px;
  top: 9px;
  left: 7px;
  transform: rotate(-50deg);
}

/* radio */

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.filter__buttons__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
  margin-top: 56px;
}

.filter__buttons__container button:first-child {
  margin-bottom: 34px;
}

/* ------------------------------CATALOG ------------------------------ */
.main__catalog {
  padding: 50px 70px 60px;
}

.catalog__header {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 8px;
}

.catalog__header .banner__title {
  margin: 0 200px 0 0;
  max-width: 400px;
}

.select__container {
  position: relative;
}

.select__arrow {
  position: absolute;
  display: block;
  fill: #000000;
  top: 50%;
  right: 21px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select__control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #ffffff;
  margin: 0;
  padding: 12px 40px 12px 20px;
  min-width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
}

.select__control:focus {
  outline: none;
  border-color: #68a2ca;
}

.select__control:hover {
  border-color: #68a2ca;
}

.select__control:disabled {
  color: rgba(0, 0, 0, 0.302);
  border-color: rgba(0, 0, 0, 0.302);
  pointer-events: none;
}

.select__control:disabled ~ .select__arrow {
  fill: rgba(0, 0, 0, 0.302);
}

.view__control__list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  max-width: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: right;
  list-style: none;
}

.view__control__input {
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.view__control__input__active {
  border: 2px solid #000000;
}

.view__control__input {
  display: block;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.view__control__input:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.view__control__input:hover {
  border: 2px solid #000000;
}

.view__control__input:active {
  border: 2px solid #000000;
}

.view__control__input__table {
  background-image: url("../images/icons/view_table.svg");
}

.view__control__input__slideshow {
  background-image: url("../images/icons/view_slideshow.svg");
}

.view__control__input__list {
  background-image: url("../images/icons/view_list.svg");
}

.view__control__list li:last-child {
  margin-right: 0;
}

.hotels__list {
  position: relative;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.hotels__list:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -40px;
  height: 1px;
  background-color: #e5e5e5;
}

/* ------------------------------CATALOG CARD------------------------------ */

.hotel__card {
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 16px;
  column-gap: 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.card__picture,
.card__hotel__name {
  grid-column: 1/ -1;
}

.card__picture img {
  width: 100%;
}

.hotel__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel__card a {
  display: block;
  text-decoration: none;
}

.hotel__card p {
  margin: 0;
}

.card__hotel__price {
  justify-self: end;
}

.price {
  font-weight: 400;
}

.button__like,
.button__rating,
.button__more-info {
  margin: 0;
  padding: 8px 18px;
  min-width: 140px;
  font-size: 16px;
  text-align: center;
}

.button__like {
  background-color: #82b3d3;
}

.button__rating {
  font-weight: 400;
  color: #333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.button__liked {
  background-color: #7db54f;
}

.hotel__stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* ------------------------------PAGINATION------------------------------ */

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 8px;
}

.pagination__link {
  padding: 12px 10px;
  display: block;
  min-width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: white;
  background-color: #82b3d3;
  transition:
    background-color 100ms ease-in-out,
    color 100ms ease-in-out;
}

.pagination__link:not(.pagination__active):focus {
  outline: none;
  background-color: #68a2ca;
}

.pagination__link:hover {
  background-color: #68a2ca;
}

.pagination__link:active {
  color: rgba(255, 255, 255, 0.302);
}

.pagination__active {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.pagination__active:focus {
  outline: none;
}

.pagination__disabled {
  color: #000000;
  background-color: #ffffff;
  pointer-events: none;
  font-size: 22px;
  line-height: 34px;
}

.pagination__disabled:focus {
  outline: none;
}

/* ------------------------------LIST MAIN PAGE ------------------------------*/

.about__sedona__list,
.advantages__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
}

.item__light {
  background-color: rgba(131, 179, 211, 0.122);
}

.item__dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.item__container {
  position: relative;
  padding: 102px 85px 102px;
}

.advantages__item,
.about__sedona__item {
  flex-grow: 1;
  flex-basis: 400px;
  min-height: 385px;
  position: relative;
}

.about__sedona__item {
  padding: 112px 85px;
}

.advantages__item {
  padding: 183px 85px 80px;
}

.advantages__background__prim,
.advantages__background__sec,
.advantages__background__third {
  background-repeat: no-repeat;
  background-position: center 80px;
}

.advantages__background__prim {
  background-image: url("../images/icons/advantage_house.svg");
}

.advantages__background__sec {
  background-image: url("../images/icons/advantage_burger.svg");
}

.advantages__background__third {
  background-image: url("../images/icons/advantage_box.svg");
}
.about__sedona__item__image {
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;
}

.about__sedona__item__image .about__item__title {
  color: #ffffff;
}

.about__item__title,
.advantages__title {
  position: relative;
  margin: 0 0 63px 0;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  line-height: 28px;
  text-transform: uppercase;
}

.about__item__title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: -32px;
  left: calc(50% - 30px);
  background-color: currentColor;
  opacity: 0.3;
}

.advantages__title {
  margin-bottom: 30px;
}

.about__item__text,
.advantages__text,
.tooltip__message {
  margin: 0;
  padding: 0;
}

.advantages__item img {
  margin: 0 auto 30px;
  height: 73px;
}

.about__item__image {
  height: 100%;
}

/* ------------------------------FOOTER ------------------------------*/

.page__footer {
  margin-top: auto;
  padding: 45px 70px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social__list {
  padding: 0;
  margin: 0;
  width: 145px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social__link,
.htmlacademy__link,
.phone {
  display: block;
  line-height: 0;
  transition: color 100ms ease-in-out;
}

.social__link {
  color: #83b3d3;
}

.social__link:hover {
  color: #68a2ca;
}

.social__link:focus {
  color: #68a2ca;
  outline: none;
}

.social__link:active {
  color: rgba(104, 162, 202, 0.302);
}

.phone {
  max-width: 750px;
  padding: 0 20px;
  font-family: inherit;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
  outline: none;
}

.phone:active {
  color: rgba(117, 97, 87, 0.302);
}

.htmlacademy__link {
  color: #000000;
  padding-bottom: 2px;
}

.htmlacademy__link:hover {
  color: #756157;
}

.htmlacademy__link:focus {
  color: #756157;
  outline: none;
}

.htmlacademy__link:active {
  color: rgba(117, 97, 87, 0.302);
}

/* ------------------------------MODAL WINDOW ------------------------------*/
.search__modal__container {
  position: fixed;
  display: flex;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  justify-content: center;
  align-items: start;
  z-index: 2;
}

.search__modal__window {
  margin: auto;
  max-width: 717px;
  max-height: 100%;
  padding: 64px 70px;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 30px;
  position: relative;
  width: 100%;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.149);
}

.search__form {
  display: grid;
  grid-template-columns: 137px 110px 1fr 137px 110px;
  row-gap: 48px;
  align-items: center;
}

.search__title {
  margin-bottom: 64px;
}

.search__label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.search__message {
  position: absolute;
  margin: 0;
  padding-left: 20px;
}

.search__message__warning {
  color: #ff5757;
}

.window__close {
  display: none;
}

.button__close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}

.button__close:focus-visible {
  outline: none;
  border: 3px solid #83b3d3;
}

.button__close:hover {
  background-color: #e5e5e5;
}

.button__close:active {
  background-color: #e5e5e5;
  opacity: 0.3;
}

.button__close::before,
.button__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 3px;
  background-color: #000000;
  transform-origin: center;
  transform: translate(-50%, -50%);
}

.button__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.search__input__container {
  grid-column: 2/-1;
}

.button__search__form {
  grid-column: 1/-1;
  background-color: #83b3d3;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
}

.button__tooltip {
  width: 26px;
  height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.junior__container {
  grid-column: 4 / 5;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
}

.junior__container label {
  padding: 0;
}

.input__person__container {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.person__input {
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  width: 31px;
  height: 48px;
  text-align: center;
  border-radius: 0;
  background-color: transparent;
}

.person__input:focus {
  outline: none;
}

.input__person__container:has(.person__input:focus) {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.input__person__container:has(.person__input:hover) {
  background-color: #e5e5e5;
}

.button__person__input {
  position: relative;
  padding: 0;
  width: 40px;
  height: 48px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgba(117, 97, 87, 0.3);
  transition: color 100ms ease-in-out;
}

.button__person__input svg {
  display: block;
  margin: auto;
}

.button__person__input:focus {
  outline: none;
}

.button__person__input:focus-visible::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid #82b3d3;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.button__person__input:hover {
  color: #000000;
}

.button__person__input:active {
  color: rgba(0, 0, 0, 0.2);
}

.button__person__input:disabled {
  pointer-events: none;
  opacity: 0.8;
}

.input__check-in,
.input__check-out {
  padding: 12px 30px 12px 20px;
  width: 100%;
  font-weight: 700;
  border-radius: 4px;
  background-image: url("..//images/icons/date.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.tooltip__container {
  position: relative;
}

.tooltip__window {
  position: absolute;
  left: 50%;
  top: calc(100% + 20px);
  transform: translateX(-50%);
  width: 256px;
  padding: 15px 18px 18px 22px;
  color: #ffffff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.302);
  background-color: #333333;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}

.tooltip__window::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 9.5px solid transparent;
  border-right: 9.5px solid transparent;
  border-bottom: 9px solid #333333;
}

.button__tooltip:hover + .tooltip__window {
  opacity: 1;
  visibility: visible;
}
