@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #f2f2f2;
}

.page__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%; /* не работает */
  width: 1200px;
  background-color: #fff;
}

.main-container {
  flex-grow: 1;
}

/*PAGE MAIN HEADER */

.page__header {
  display: flex;
  outline: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.logo__link {
  display: block;
  margin-left: 70px;
  margin-right: 30px;

}

.navigation {
  display: flex;

  width: 100%;
}

.navigation__list {
  margin: 0;
  padding: 0;
  width: 500px;
  list-style: none;
  display: flex;
 flex-wrap: wrap;

}

.navigation__list:last-child{
  padding-right: 70px;
}

.navigation__item{
  padding-left: 16px;
  padding-top: 20px;
}



.navigation__link {
  color: inherit;
  text-decoration: none;
}

.navigation__likes {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  background-color: #7db54f;
}


/*BANNER*/

.banner {
  text-align: center;
}

.banner__image {
  background-image: url(../images/backgrounds/index_bacgkround_mask.svg),
    url(../images/backgrounds/index_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-color: #01ffff;
}

.banner__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
}

.banner__text {
  font-size: 22px;
  line-height: 26px;
}

.newsletter {
  color: #fff;
  background-color: #82b3d3;
  background-image: url(../images/backgrounds/subscribe_background.jpg);
  background-size: cover;
}

.newsletter h2 {
  color: #fff;
}

.newsletter__no__image h2 {
  color: #000;
}

.newsletter__no__image {
  color: inherit;
  background-image: none;
  background-color: inherit;
}

/* INPUTS */

.button {
  font-family: inherit;
  font-weight: 700;
  background-color: #756157;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button__newsletter {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
}

.button__search {
  font-size: 20px;
  line-height: 36px;
}

.button__apply {
  background-color: #82b3d3;
}

.button__reset {
  background: transparent;
}

.rating {
  font-weight: 400;
  color: #333;
  background-color: #f2f2f2;
  text-transform: capitalize;
}

.search__field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.search__field::placeholder {
  font-family: inherit;
  color: #000;
}

/* FILTER BANNER*/

.filter__banner {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  background-color: #82b3d3;
  background-image: url("../images/backgrounds/catalog_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter__banner h1 {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs__list {
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs__list li:first-child {
  background-image: url("../images/icons/breadcrumbs_home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__list a {
  text-decoration: none;
  color: inherit;
}

/* FILTER FORM */
.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.infrastructure__list,
.accomodation__list {
  list-style: none;
}

/* CATALOG */

.select__control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.view__control,
.hotels__list {
  list-style: none;
}

/* CATALOG CARD */
.hotels__list {
}

.hotel__card a {
  text-decoration: none;
}

.hotel__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.hotel__card {
  font-size: 18px;
  line-height: 21px;
}

.price {
  font-weight: 400;
}

.hotel__card .button__like {
  background-color: #82b3d3;
}

.hotel__card .button__rating {
  font-weight: 400;
}

/* PAGINATION */
.pagination {
}

.pagination__list {
  list-style: none;
}

.pagination__link {
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: white;
  background-color: #82b3d3;
}
.pagination__active {
  color: #000;
  background-color: #f2f2f2;
}

/*LIST MAIN PAGE*/

.about__sedona__list,
.advantages__list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
}

.item__light {
  background-color: rgba(131, 179, 211, 0.122);
}

.item__dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.about__sedona__item__image {
  background-color: #82b3d3;
  color: #fff;
  width: 100%;
}

.about__sedona__item__image .about__item__title {
  color: #fff;
}

.about__item__title,
.advantages__title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages__item,
.about__sedona__item{
  flex-grow: 1;
  flex-basis: 385px;
  min-height: 400px;
}


/*FOOTER*/

.page__footer {
  display: flex;
  justify-content: space-between;

}

.social__list {
  display: flex;

  flex-wrap: wrap;
  list-style: none;
}

.social__item a {
  background-repeat: no-repeat;
}

.vk__link {
  background-image: url(../images/icons/social_vk.svg);
}

.telegram__link {
  background-image: url(../images/icons/social_telegram.svg);
}

.youtube__link {
  background-image: url(../images/icons/social_youtube.svg);
}

.telephone {

  font-family: inherit;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.htmlacademy__link {

  background-image: url("../images/icons/logo_htmlacademy.svg");
  background-repeat: no-repeat;
}
