@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #f2f2f2;
}

.page__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 1200px;
  background-color: #fff;
}

.main-container {
  flex-grow: 1;
}

/*PAGE MAIN HEADER */

.page__header {
  padding: 0 70px;
  display: flex;
  outline: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.logo__link {
  display: block;
  margin-right: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation__list,
.navigation__user__list {
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation__link {
  display: block;
  padding: 20px 16px;
  color: inherit;
  text-decoration: none;
}

.navigation__likes {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  background-color: #7db54f;
}

.navigation__user__list li {
  min-width: 44px;
}

.navigation__button{
  display: block;
  margin-left: 20px;
  padding: 8px 34px;
  text-decoration: none;

}

/* ------------------------------BANNER----------------------*/

.banner {
  text-align: center;
}

.banner__image {
  padding: 50px 70px 80px;
  background-image: url(../images/backgrounds/index_bacgkround_mask.svg),
  url(../images/backgrounds/index_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-color: #01ffff;
}

.banner__image img {
  margin: 0 auto;
}

.banner__title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
}

.banner__text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.main__banner__container {
  padding: 70px;
}

.advantages__banner {
  padding: 64px 70px;
}

.is__interested__banner {
  padding: 96px 70px;
}

.newsletter {
  padding: 96px 70px 104px;
  color: #fff;
  background-color: #82b3d3;
  background-image: url(../images/backgrounds/subscribe_background.jpg);
  background-size: cover;
}

.newsletter h2 {
  color: #fff;
}

.newsletter__no__image {
  color: inherit;
  background-image: none;
  background-color: inherit;
}

.newsletter__no__image h2 {
  color: #000;
}

/* ------------------------------INPUTS--------------------- */

.button {
  font-family: inherit;
  font-weight: 700;
  background-color: #756157;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button__newsletter {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
}

.button__search {
  font-size: 20px;
  line-height: 36px;
}

.button__apply {
  background-color: #82b3d3;
}

.button__reset {
  background: transparent;
}

.rating {
  font-weight: 400;
  color: #333;
  background-color: #f2f2f2;
  text-transform: capitalize;
}

.field__search {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.field__search::placeholder {
  font-family: inherit;
  color: #000;
}

/* ------------------------------FILTER BANNER------------------------------*/

.filter__banner {
  margin-bottom: 50px;
  padding: 35px 70px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  background-color: #82b3d3;
  background-image: url("../images/backgrounds/catalog_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter__banner h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs__list {
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs__list li:first-child {
  min-height: 15px;
  min-width: 13px;
  margin-right: 28px;
  background-image: url("../images/icons/breadcrumbs_home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__list a {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs__item {
  min-width: 13px;
}

/* ------------------------------FILTER FORM ------------------------------*/

.filter__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.filter__form fieldset {
  border: none;
}
.infrastructure__list,
.accommodation__list {
  list-style: none;
  margin: 32px 0 0 0;
  padding: 0;
}

.price__range__fieldset {
  display: flex;
  flex-direction: column;
}

.filter__buttons__container {
  display: flex;
  flex-direction: column;
}

/* ------------------------------CATALOG ------------------------------*/
.main__catalog {
  padding: 0 70px;
}

/*------------------------------CATALOG HEADER---------------*/
.catalog__header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 70px;
}

.catalog__header .banner__title {
  margin: 0;
}

.select__control {
  margin: 0;
  margin-left: auto;
  padding: 14px 131px 14px 20px;
  min-width: 200px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.view__control__list{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  list-style: none;
}

.view__control__item{
  margin-right: 8px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.view__control__item__active{
  border: 2px solid #000;
}

.view__control__input {
  display: block;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.view__control__input__table {
  background-image: url(../images/icons/view_table.svg);
}

.view__control__input__slideshow {
  background-image: url(../images/icons/view_slideshow.svg);
}

.view__control__input__list {
  background-image: url(../images/icons/view_list.svg);
}

.view__control__list li:last-child {
  margin-right: 0;
}

.hotels__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

/* CATALOG CARD */

.hotel__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.hotel__card {
  font-size: 18px;
  line-height: 21px;
}

.hotel__card a {
  text-decoration: none;
}

.price {
  font-weight: 400;
}

.hotel__card .button__like {
  background-color: #82b3d3;
}

.hotel__card .button__rating {
  font-weight: 400;
}

/* ------------------------------PAGINATION------------------------------ */

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  margin-right: 8px;
  display: block;
  width: 60px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: white;
  background-color: #82b3d3;
}

.pagination__active {
  color: #000;
  background-color: #f2f2f2;
}

.pagination__disabled {
  color: #000;
  background-color: #fff;
}

/* ------------------------------LIST MAIN PAGE ------------------------------*/

.about__sedona__list,
.advantages__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
}

.item__light {
  background-color: rgba(131, 179, 211, 0.122);
}

.item__dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.item__container {
  padding: 102px 85px 102px;
}

.advantages__item,
.about__sedona__item {
  flex-grow: 1;
  flex-basis: 400px;
  min-height: 385px;
}

.about__sedona__item {
  padding: 112px 85px;
}

.advantages__item {
  padding: 81px 85px;
}

.about__sedona__item__image {
  display: flex;
  background-color: #82b3d3;
  color: #fff;
  width: 100%;
}

.about__sedona__item__image .about__item__title {
  color: #fff;
}

.about__item__title,
.advantages__title {
  margin: 0 0 62px 0;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages__title{
  margin-bottom: 30px;
}

.about__item__text,
.advantages__text {
  margin: 0;
  padding: 0;
}

.advantages__item img {
  margin: 0 auto 30px;
}

/* ------------------------------FOOTER ------------------------------*/

.page__footer {
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__list {
  padding: 0;
  margin: 0;
  max-width: 235px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social__item a {
  display: block;
  min-height: 40px;
  min-width: 47px;
  background-repeat: no-repeat;
}

.vk__link {
  background-image: url(../images/icons/social_vk.svg);
}

.telegram__link {
  background-image: url(../images/icons/social_telegram.svg);
}

.youtube__link {
  background-image: url(../images/icons/social_youtube.svg);
}

.telephone {
  font-family: inherit;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.htmlacademy__link {
  min-width: 115px;
  min-height: 33px;
  background-image: url("../images/icons/logo_htmlacademy.svg");
  background-repeat: no-repeat;
}
